body {
    background-color: #1b1b2f;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #0e0e1f; */
    background: #0E1621;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-weight: 100;

}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #1f1f39c3;
    border-radius: 40px;
    width: 500px;
    margin: auto;

}

.admin{
    margin-top: 70px;
    font-weight: 100;
}
.navbar a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
    margin: 0 10px;

}

.navbar a.active {
    background-color: #4e85cc86;
    border-radius: 30px;

}

.card-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
}

.card-container .card:nth-child(1){
    background: radial-gradient(circle at right, rgba(0, 255, 153, 0.5) 10%, rgba(0, 0, 0, 0) 60%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.card-container .card:nth-child(2){
    background: radial-gradient(circle at right, rgba(255, 153, 0, 0.5) 10%, rgba(0, 0, 0, 0) 60%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.card-container .card:nth-child(3){
    background: radial-gradient(circle at right, rgba(133, 0, 205, 0.5) 10%, rgba(0, 0, 0, 0) 60%);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.card {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    /* background: linear-gradient(145deg, #0e1624, #283046);*/
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.59);
}

.card h2 {
    font-size: 3em;
    margin: 0;
}

.card small {
    display: block;
    margin-top: 10px;
    color: #4ecca3;
}

.statistics {
    margin-top: 60px;

    border-radius: 10px;
    /* background-color: #0e0e1f; */
}

.statistics table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #1f1f39c3;

}


/* .statistics table tr{
    height: 50px;
    border: 2px solid blanchedalmond;
    position: relative;
}   */

/* tbody tr{
    border-collapse: separate; 
    border-spacing: 0 50px; 
    margin-top: 20px;
    margin-bottom: 50px;
} */

/* tbody tr {
    display: block; 
    margin-bottom: 10px; 
} */

.statistics table th,
.statistics table td {
    padding: 15px;
    border: 30px;
    text-align: left;
}

.statistics table th {
    /* background-color: #2c2c54; */


}

/* .statistics table tr:nth-child(even) {
    background-color: #212141;
} */


tbody td:nth-child(6) {
    color: red; 
}


tbody td:nth-child(5) {
    color: green; 
}



/* Navbardigi Qoshish+  */
.openModalBtn{

}
/* body.modal-open {
    background: rgba(0, 0, 0, 0.5);
 } */


    /* Modal foni ochilganda orqa fonni xiralashtirish */
body.modal-open::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(8px); /* Orqa fonni xiralashtiradi */
    z-index: 5; /* Modal oynadan pastda bo'lishi uchun */
}

.modal {
    display: none; 
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #0E1621;
    padding: 20px;
    box-shadow: 0 0 10px rgb(20, 20, 20);
    z-index: 10;
}
/* Orqa fonni xiralashtirish */


.modal-content {
    display: flex;
    flex-direction: column;
}

.modal input {
    margin: 10px 0;
    padding: 8px;
}

.close-btn {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}
